Resources:
  SESPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: SESEmailPolicy
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Action:
              - ses:SendEmail
              - ses:SendRawEmail
            Resource: '*'
      Roles:
        - aws-elasticbeanstalk-ec2-role